@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    /*Paleta de Colores*/
    /*--yellow: #feed01;*/
    /*--lightblue: #61788C*/
    --main: #61788C;
    --black: #000;
    --white: #fff;
    --border: .2rem solid var(--black);
    --box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .3);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: var(--main);
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
}

body {
    background: var(--main);
    overflow-x: hidden;
}

section {
    padding: 5rem 10%;
}

.header {
    padding: 1.5rem 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--main);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 2.5rem;
    color: var(--black);
}

.header #menu-btn {
    position: fixed;
    top: 20px;
    right: 30px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    border: var(--border);
    background: var(--white);
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.5s ease, background 0.5s ease, color 0.5s ease;
}

.header #menu-btn.fa-times {
    transform: rotate(180deg);
    background: var(--main);
    color: var(--black);
    border: var(--border);
}

.header #menu-btn.fa-times:hover {
    background: var(--white);
    color: var(--black)
}


.header #menu-btn:hover {
    background: var(--black);
    color: var(--white);
}

.header .navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 50px;
    transition: clip-path 0.5s ease-in-out;
    clip-path: circle(0% at 95.3% 8.5%);
}

.header .navbar.active {
    clip-path: circle(140% at 95.3% 8.5%);
}

.header .navbar a {
    font-size: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    color: var(--white);
}

.header .navbar a::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: var(--white);
    pointer-events: none;
    font-weight: bolder;
    letter-spacing: .4em;
    opacity: 0;
    z-index: -1;
}

.header .navbar a:hover::before {
    letter-spacing: 0em;
    opacity: .1;
    transition: .3s ease-out;
    text-align: center;
}

.home {
    margin-top: 8rem;
    position: relative;
}

.home h3 {
    text-align: center;
    font-size: 6vw;
    text-transform: uppercase;
}

.home .home-text {
    -webkit-text-stroke: .2rem var(--black);
    color: var(--white);
    position: relative;
    z-index: 10;
}






@media (max-width:1200px) {

    .header {
        padding: 1.5rem 5%;
    }

    section {
        padding: 3rem 5%;
    }

}

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 2rem;
    }


    .header {
        padding: 1.5rem 2rem;
    }
}

@media (max-width:768px) {

    .navbar {
        width: 100%;
        z-index: 1200;
        background: none;
    }

}


@media (max-width:450px) {

    html {
        font-size: 50%;
    }
}
